.info{
    width: 100%;
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px 10px 0 0px;
}
.info .group {
    --bs-gutter-x: 0.2rem !important;
    --bs-gutter-y: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.2 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.info  .middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info .box{
    background-color: #ffeee9;
    position: relative;
    border-radius: 10px;
    padding-left: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center !important;
    gap: 20px;
}

.info .box h2 {
    font-size: 50px;
    font-weight: 700;
    color: #f35525;
}
.info .box .card-info{
    width: 50%;
}
.info .box p {
    text-align: left !important;
    font-size: 16px;
    font-weight: 600;
    color: #303030;
    font-weight: 700;
}
.info .box:after {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #f35525;
    border-radius: 50%;
    content: '';
    right: -20px;
    top: -20px;
}

@media (max-width:767px) {
    .info{
        width: 100%;
        height:40vh;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding: 40px;
        margin-top: 10px;
    }
    .info .row {
        --bs-gutter-y: 0.8rem;
    }  
    .info .box{
        width: 100%;
        padding: 10px 10px 0 20px  ;
        gap: 20px;
        justify-content: center;
    }
    .info .box h2 {
        font-size: 30px;
    }   
    .info .box p {
        text-align: left;
        font-size: 14px;
        line-height: 15px;
        word-wrap: break-word;
    }
    .info .box:after {
        width: 30px;
        height: 30px;
        right: -10px;
        top: -10px;
    }
}
