.red_button {
    display: inline-block;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #f35525;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all 0.3s;
    white-space: nowrap;
    text-decoration: none;
}

.red_button:hover {
    background-color: #e04d1f;
    transform: translateY(-2px);
}