.agents {
    padding: 60px 15px;
}

/* Headings */
.agents h6 {
    color: #ee626b;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.agents h2 {
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.agents .agent-info{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !;
    gap: 20px;
}
/* Paragraph */
.agents p {
    font-size: 15px;
    line-height: 1.8;
    color: #4a4a4a;
    margin-bottom: 30px;
}

/* Form Section */
.agents .form {
    margin-top: 20px;
}

/* Map Section */
.agents .map {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Tablet */
@media (max-width: 992px) {
    .agents h2 {
        font-size: 32px;
    }

    .agents p {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .agents .form {
        margin-top: 25px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .agents h2 {
        font-size: 26px;
        line-height: 1.2;
    }

    .agents p {
        font-size: 13px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .agents .form {
        margin-top: 20px;
    }

    .agents .map {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}