.deal_section {
    width: 100%;
    padding: 70px 15px;
}


.deal-top h6 {
    color: #ee626b;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
}

.deal-top h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}


.button_section {
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button_section button {
    padding: 10px 22px !important;
    border-radius: 6px;
}


.deal-group {
    margin-top: 30px;
}

/* ================= PART 1 ================= */

.part1 {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    padding: 20px;
}

.part1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.part1 li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: #aaa;
    display: flex;
    flex-direction: column;
}

.part1 span {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
}

/* ================= PART 2  ================= */

.part2 {
    min-height: 420px;
    background-image: url("../../assets/Image/deal-01.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/* ================= PART 3 ================= */

.part3 {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    padding: 25px;
}

.part3 h4 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.part3 p {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 1.7;
}

/* ================= TABLET ================= */

@media (max-width: 992px) {

    .deal-top h2 {
        font-size: 32px;
        text-align: center;
    }

    .deal-top h6 {
        text-align: center;
    }

    .button_section {
        justify-content: center;
        margin-top: 20px;
    }
}

/* ================= MOBILE ================= */

@media (max-width: 576px) {

    .deal-top h2 {
        font-size: 26px;
    }

    .part2 {
        min-height: 260px;
    }
    .part1 span {
        font-size: 16px;
        color: #1e1e1e;
        font-weight: 700;
    }
}