.footer {
    background-color: #1e1e1e;
    padding: 35px 15px;
}

/* text */

.footer p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 992px) {
    .footer {
        padding: 25px 15px;
    }

    .footer p {
        font-size: 16px;
    }
}

/* mobile */

@media (max-width: 576px) {
    .footer p {
        font-size: 14px;
        line-height: 1.6;
    }
}