/* Carousel full screen */
.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

/* Caption */
.carousel-caption {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    right: 0% !important;
    bottom: 10rem !important;
    left: 10rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}

/* Caption Text */
.carousel-caption p {
    font-size: 20px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.carousel-caption p span {
    color: #f35525;
    font-weight: 700;
}

.carousel-caption h3 {
    font-size: 45px;
    font-weight: 800;
    color: #fff;
}

/* Controls */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    border-radius: 50%;
    background-color: rgba(182,180,180,0.8);
    width: 45px;
    height: 45px;
}

/* Tablet */
@media screen and (max-width: 992px) {
    .carousel-caption {
        max-width: 50% ;
    }
    .carousel-caption h3 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    .carousel-caption {
        bottom: 12rem !important;
        left: 6rem !important;
    }
    .carousel-caption h3 {
        font-size: 24px;
    }

    .carousel-caption p {
        font-size: 15px;
        padding: 3px 8px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 35px;
        height: 35px;
    }
}